name: Test micromamba docker image

on:
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

permissions:
  contents: read

env:
  FORCE_JAVASCRIPT_ACTIONS_TO_NODE24: 'true'

jobs:
  default_base_image_tests:
    name: default base_image tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          submodules: recursive
          persist-credentials: false
      - name: Install GNU parallel
        run: |
          sudo apt-get install --no-install-recommends -y parallel
      - name: Setup nox
        uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd
      - name: Run tests
        run: nox -s "default_base_image_tests"
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Install curl and xz-utils
        run: sudo apt-get install --no-install-recommends -y curl xz-utils
      - name: Install shellcheck
        run: curl --location --silent https://github.com/koalaman/shellcheck/releases/download/stable/shellcheck-stable.linux.x86_64.tar.xz | tar xJ --strip-components=1 -C . shellcheck-stable/shellcheck
      - name: Run tests
        run: ./shellcheck -x *.sh test/*.bats
  pylint:
    name: pylint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Setup nox
        uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd
      - name: Run tests
        run: nox -s "pylint"
  flake8:
    name: flake8
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Setup nox
        uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd
      - name: Run tests
        run: nox -s "flake8"
  mypy:
    name: mypy
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Setup nox
        uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd
      - name: Run tests
        run: nox -s "mypy"
  black:
    name: black
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Setup nox
        uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd
      - name: Run tests
        run: nox -s "black"
  pytest:
    name: pytest
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Setup nox
        uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd
      - name: Run tests
        run: nox -s "pytest"
  build_docs:
    name: build_docs
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Setup nox
        uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd
      - name: Run tests
        run: nox -s "build_docs"
