name: Test micromamba docker image

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    name: Run test suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
        with:
          submodules: recursive
      - name: Install GNU parallel
        run: sudo apt-get install --no-install-recommends -y parallel
      - name: Setup nox
        uses: excitedleigh/setup-nox@4c62aee44396909396d10137c747b2633deeee76
      - name: Run tests
        run:  nox -s "tests(base_image='debian:bullseye-slim')"
