name: Test micromamba docker image

on:
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  default_base_image_tests:
    name: default base_image tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
        with:
          submodules: recursive
      - name: Install GNU parallel and apptainer
        run: |
          sudo apt-get install --no-install-recommends -y parallel software-properties-common
          sudo add-apt-repository -y ppa:apptainer/ppa 
          sudo apt update
          sudo apt install -y apptainer
      - name: Setup nox
        uses: wntrblm/nox@5656fcedc31a1ea37d016e4d94d00185330cc528
      - name: Run tests
        run: nox -s "default_base_image_tests"
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
      - name: Install curl and xz-utils
        run: sudo apt-get install --no-install-recommends -y curl xz-utils
      - name: Install shellcheck
        run: curl --location --silent https://github.com/koalaman/shellcheck/releases/download/stable/shellcheck-stable.linux.x86_64.tar.xz | tar xJ --strip-components=1 -C . shellcheck-stable/shellcheck
      - name: Run tests
        run: ./shellcheck -x *.sh test/*.bats
  pylint:
    name: pylint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
      - name: Setup nox
        uses: wntrblm/nox@5656fcedc31a1ea37d016e4d94d00185330cc528
      - name: Run tests
        run: nox -s "pylint"
  flake8:
    name: flake8
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
      - name: Setup nox
        uses: wntrblm/nox@5656fcedc31a1ea37d016e4d94d00185330cc528
      - name: Run tests
        run: nox -s "flake8"
  mypy:
    name: mypy
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
      - name: Setup nox
        uses: wntrblm/nox@5656fcedc31a1ea37d016e4d94d00185330cc528
      - name: Run tests
        run: nox -s "mypy"
  black:
    name: black
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
      - name: Setup nox
        uses: wntrblm/nox@5656fcedc31a1ea37d016e4d94d00185330cc528
      - name: Run tests
        run: nox -s "black"
  pytest:
    name: pytest
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
      - name: Setup nox
        uses: wntrblm/nox@5656fcedc31a1ea37d016e4d94d00185330cc528
      - name: Run tests
        run: nox -s "pytest"
  build_docs:
    name: build_docs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
      - name: Setup nox
        uses: wntrblm/nox@5656fcedc31a1ea37d016e4d94d00185330cc528
      - name: Run tests
        run: nox -s "build_docs"
