name: Test micromamba docker image

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  default_base_image_tests:
    name: default base_image tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
        with:
          submodules: recursive
      - name: Install GNU parallel
        run: sudo apt-get install --no-install-recommends -y parallel
      - name: Setup nox
        uses: excitedleigh/setup-nox@4c62aee44396909396d10137c747b2633deeee76
      - name: Run tests
        run: nox -s "default_base_image_tests"
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
      - name: Install shellcheck
        run: curl https://github.com/koalaman/shellcheck/releases/download/stable/shellcheck-stable.linux.x86_64.tar.xz | tar xf --strip-components=1 -C /usr/local/bin shellcheck-stable/shellcheck
      - name: Run tests
        run: /usr/local/bin/shellcheck *.sh test/*.bats
  pylint:
    name: pylint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
      - name: Setup nox
        uses: excitedleigh/setup-nox@4c62aee44396909396d10137c747b2633deeee76
      - name: Run tests
        run: nox -s "pylint"
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
      - name: Setup nox
        uses: excitedleigh/setup-nox@4c62aee44396909396d10137c747b2633deeee76
      - name: Run tests
        run: nox -s "flake8"
  mypy:
    name: mypy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
      - name: Setup nox
        uses: excitedleigh/setup-nox@4c62aee44396909396d10137c747b2633deeee76
      - name: Run tests
        run: nox -s "mypy"
  black:
    name: black
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
      - name: Setup nox
        uses: excitedleigh/setup-nox@4c62aee44396909396d10137c747b2633deeee76
      - name: Run tests
        run: nox -s "black"
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
      - name: Setup nox
        uses: excitedleigh/setup-nox@4c62aee44396909396d10137c747b2633deeee76
      - name: Run tests
        run: nox -s "pytest"
